header {
	width:100%;
	position:relative;
	top:0;
	left:0;
	background-color:blue;
	border-bottom: 1px solid #bcc3ce;
	background: #f2f2f2;  
	line-height: 28px;
}

header a {
	margin-left: 15px;
}

body {
	margin: 0px;
	font-family: arial,sans-serif;
}

.header-container {

}

.header-container a {
	font-size: 80%;
	text-decoration: none;

}

.header-container a:hover {
	text-decoration: underline;
}

.content-container {
	margin: 10px;
}

.player {
	width: 720px;
	height: 400px;
}

.mini-player {
	width: 360px;
	height: 200px;
}

.text-button {
	vertical-align: middle;
	border: 0;
	display: inline;
	background: none;
	text-decoration: underline;
	color: blue;
}

.text-button-form {
	vertical-align: middle;
	margin-bottom: 0px;
}

.list-element {
	float:left;
	margin-left: 10px;
	align-content: center;
	width: 160px;
	height: 80px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center	
}

.list-element img {
	display: block;
	max-width: 100px;
	max-height: 55px;
	margin-left: auto;
    margin-right: auto;
}

.nav-urls {
	font-size: 150%;
}